<<<<<<< HEAD
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(http://i.imgur.com/nm6xPrg.jpg);
    background-size: 100%;
}
=======
    * {
        font-family: 'Roboto', sans-serif;
    }
>>>>>>> fd7aa307736d70d03ea30602794ba7681f123197
