* {
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-image: url(http://i.imgur.com/nm6xPrg.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: rgb(0, 200, 255);
}

#vid {
    height: 300px;
    width: 300px;
}

#logout {
    display: none;
}